@{
    ViewData["Title"] = "Out Of Office";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Select category:</p>
    <P><a href ="https://localhost:7295/Employees">Employees</P></a>
    <P><a href="https://localhost:7295/LeaveRequests">Leave Requests</P></a>
    <P><a href="https://localhost:7295/ApprovalRequests">Approval Requests</P></a>
    <P><a href="https://localhost:7295/Projects">Projects</P></a>

</div>
